@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.card h3 {
	font-family: 'Raleway';
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags a {
	-webkit-transition: background-color 1s;
	-moz-transition:    background-color 1s;
	-ms-transition:     background-color 1s;
	-o-transition:      background-color 1s;
	transition:         background-color 1s;
}

.card .tags a::before {
	-webkit-transition: border-color 1s;
	-moz-transition:    border-color 1s;
	-ms-transition:     border-color 1s;
	-o-transition:      border-color 1s;
	transition:         border-color 1s;
}

.card:hover .tags a {
  background: #3c3163;
}

.card:hover .tags a::before {
	border-color: transparent #3c3163 transparent transparent;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
	color: whitesmoke;
  font-size: 1.5em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.tags {
    margin-bottom: 10px;
}

.tags a {    
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 16px 8px 0;
    padding: 0 10px 0 12px;
    background: #00a6df;    
    -webkit-border-bottom-right-radius: 3px;    
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;    
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}

.tags a:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #00a6df transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;        
}

.tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}

@media screen and (max-width: 500px) {
  .card {
    max-width: calc(100vw - 4rem);
  }
}
