.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 4rem;
}

h1 {
    color: mediumspringgreen;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 3.5vh 0;
    flex: 1;
    font-family: 'Raleway';
}
