.container {
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    width: max-content;
}

@media screen and (max-width: 1285px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
}
  
@media screen and (max-width: 900px) {
    .container {
      grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {
    .container {
      padding: 4rem 2rem;
    }
}
