
$primary: darkorange;
$text-color: #363738;

.date__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
  border: 4px solid;
  font-weight: bold;
  padding: 5px 10px;
  .date__day{
    font-size: 22px;
  }
}
.blog-card {
  padding: 30px;
  position: relative;
  .date__box {
    text-transform: uppercase;
    opacity: 0;
    transform: scale(0.5);
    transition: 300ms ease-in-out;
  }
  .blog-card__background,
  .card__background--layer{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .blog-card__background {
    padding: 15px;
    background: white;
  }
  .card__background--wrapper{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    position: relative;
    overflow: hidden;
  }
  .card__background--main{
    height: 100%;
    position: relative;
    transition: 300ms ease-in-out;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .card__background--layer {
    z-index: 0;
    opacity: 0;
    background: rgba(#333, 0.9);
    transition: 300ms ease-in-out;
  }
  .blog-card__head {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-card__info{
    z-index: 10;
    background: white;
    padding: 20px 15px;
    h5 {
      transition: 300ms ease-in-out;
    }
    p {
        margin: 5px 0;
        display: flex;
    }
  }
  &:hover {
    .date__box{
      opacity: 1;
      transform: scale(1);
    }
    .card__background--main {
      transform: scale(1.2) rotate(5deg);
    }
    .card__background--layer {
      opacity: 1;
    }
    .blog-card__info{
      h5{
        color: $primary; 
      }
    }
  }
}

.pencil {
    height: 24px;
    width: 26px;
    margin-right: 7.5px;
}

a.icon-link {
    color: $text-color;
    transition: 200ms ease-in-out;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    &:hover {
      color: $primary;
      text-decoration: none;
    }
}

.author {
    flex: 1;
}

.btn {
  background: white;
  color: $text-color;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 0;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0;
  border: none;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    background: $primary;
    color: #fff;
  }
  &.btn--with-icon {
    border: 2px solid $primary;
    padding-right: 20px;
    i {
      padding: 0px 30px 0px 15px;
      margin-right: 10px;
      height: 50px;
      line-height: 50px;
      vertical-align: bottom;
      color: white;
      background: $primary;
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      display: inline-block;
      font-size: 2rem;
    }
  }
}

h5 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.content {
    font-size: 1.3rem;
    margin: 20px 0 !important;
}

.col-12 {
    margin: 2rem 0;
    position: relative;
}

.bolt {
  position: absolute;
  top: 15px;
  left: 25px;
  border: 4px solid rgba(0,0,0,0);
  border-bottom: 22px solid #ffdf00;
  transform: rotateZ(-180deg);
  padding: 2px;
  width: 0;
  height: 0;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 50% 50% 0;
}

.bolt:after {
  content: "";
  top: -9px;
  left: -8px;
  border: 5px solid rgba(0,0,0,0);
  border-bottom: 25px solid #ffdf00;
  transform: rotateZ(4deg);
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 50% 50% 0;
}
