.filter-wrap {
    display: flex;
    justify-content: center;
}

:root {
    --applyButtonWidth: 80px;
    --applyButtonHeight: 50px;
    --applyButtonPadding: 10px;
    --applyButtonColor: mediumspringgreen;
    --dateSelectHeight: 50px;
    --dateSelectWidth: 165px;
    --sliderStartWidth: 160px;
    --sliderEndWidth: 160px;
    --dateSelectFontSize: 1.2rem;
    --sliderStartBackgroundColor: mediumspringgreen;
    --sliderEndBackgroundColor: mediumspringgreen;
}

:focus {
    outline: none !important;
}

@media screen and (max-width: 600px) {
    .date-range {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}  
