@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --primary-color: #204f6e;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

.card {
  padding: 2rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
  display: flex;
  flex-direction: column;
  background: #424242;
  color: white;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

input {
  margin: 1.2rem 0;
}

input[type='text'] {
  display: block;
  width: 100% !important;
  padding: 0.4rem;
  font-size: inherit;
  border: 1px solid #ccc;
}

h1 {
  color: mediumspringgreen;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
  flex: 1;
  font-family: 'Raleway';
}

h5 {
    font-size: 1rem;
    margin: 10px 0;
}

.card p {
    font-size: 20px;
    margin-bottom: 1rem;
}

.header, .star {
    display: flex;
}

.tags {
    margin-bottom: 10px;
    margin-left: 12px;
}

.tags a {    
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 16px 8px 0;
    padding: 0 10px 0 12px;
    background: #00a6df;    
    -webkit-border-bottom-right-radius: 3px;    
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;    
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}

.tags a:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #00a6df transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;        
}

.tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }
}
